################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpTraining/FileContentIndex/67b31c5f-38a7-498e-8faa-c3143c2d5994.vsidx
/.vs/CSharpTraining/FileContentIndex/cbf72884-4db8-410a-9889-dc0f8212a972.vsidx
